html {
  text-align: center;
  font-family: "source-sans-pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.5em;
  color: #484c55; }

body {
  font-family: 'PT Sans', Tahoma, Verdana, sans-serif;
  margin: 0; }

.alert {
  padding: 0;
  line-height: 1.5em;
  color: #dadbdf;
  background-color: #036;
  padding-top: 0.25em; }
  .alert p {
    right: 0;
    margin-left: 0;
    margin-bottom: -0.75em;
    margin-top: 0.25em;
    margin-right: 0;
    padding-bottom: 0; }
  .alert a {
    font-weight: 600;
    color: #e6e6e6;
    text-decoration: none; }
    .alert a:hover {
      text-decoration: underline; }
    .alert a:visited {
      color: #e6e6e6; }
  .alert .container p strong {
    color: rgba(255, 255, 255, 0.75); }

.alert-release {
  background: #c6538c;
  padding-top: .75em;
  padding-bottom: .75em;
  color: rgba(255, 255, 255, 0.75); }
  .alert-release ul {
    margin: 0;
    padding-bottom: 0; }
    @media (min-width: 30em) {
      .alert-release ul {
        margin: 0;
        padding: 0; } }
    .alert-release ul li {
      line-height: 1.5em;
      display: inline-block;
      margin-left: -2px;
      margin-right: 2em; }
      .alert-release ul li a {
        font-weight: 600;
        color: #e6e6e6;
        text-decoration: none; }
        .alert-release ul li a:hover {
          text-decoration: underline; }
        .alert-release ul li a:visited {
          color: #e6e6e6; }

header nav {
  display: inline-block;
  float: right; }
  @media (max-width: 47.9em) {
    header nav {
      display: none; } }
  @media (min-width: 48em) {
    header nav {
      font-size: 0.75em;
      width: 74.46809%;
      margin-right: 0; } }
  @media (min-width: 64em) {
    header nav {
      font-size: 1em; } }
  header nav ul {
    padding-top: 1.5em;
    padding-left: 0;
    margin: 0;
    text-align: right;
    white-space: nowrap; }
    header nav ul li {
      display: inline-block;
      text-align: left; }
      @media (max-width: 29.99em) {
        header nav ul li {
          float: left;
          width: 100%;
          margin-bottom: .75em; } }
      @media (min-width: 30em) and (max-width: 47.99em) {
        header nav ul li {
          width: 48.93617%;
          float: left;
          margin-bottom: .75em;
          margin-right: 2.12766%; }
          header nav ul li:nth-child(2n) {
            margin-right: 0; } }
      header nav ul li:last-child {
        margin-right: 0; }
      header nav ul li a {
        background: #ededef;
        display: block;
        color: #c69;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        padding-right: 16px;
        padding-left: 16px;
        text-decoration: none; }
        @media (min-width: 48em) {
          header nav ul li a, header nav ul li a:hover, header nav ul li a:focus {
            background: none; } }
        @media (max-width: 47.99em) {
          header nav ul li a:focus, header nav ul li a:hover {
            background: #dadbdf; } }
        header nav ul li a:hover {
          color: #212c3f; }

a:visited {
  color: #b37399; }

.site-brand {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  float: left;
  width: 23.40426%;
  margin-right: 2.12766%; }
  .site-brand a img {
    height: 3em;
    max-width: 100%;
    text-align: left; }
    @media (min-width: 48em) {
      .site-brand a img {
        height: 6em; } }

.pop-stripe {
  height: .25em;
  background-size: 100%;
  background-image: -moz-linear-gradient(left, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #998099 16.66667%, #998099 25%, #699 25%, #699 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #fff 41.66667%, #fff 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #808c99 75%, #808c99 83.33333%, #6b717f 83.33333%, #6b717f 91.66667%, #036 91.66667%, #036 100%);
  background-image: -webkit-linear-gradient(left, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #998099 16.66667%, #998099 25%, #699 25%, #699 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #fff 41.66667%, #fff 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #808c99 75%, #808c99 83.33333%, #6b717f 83.33333%, #6b717f 91.66667%, #036 91.66667%, #036 100%);
  background-image: linear-gradient(to right, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #998099 16.66667%, #998099 25%, #699 25%, #699 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #fff 41.66667%, #fff 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #808c99 75%, #808c99 83.33333%, #6b717f 83.33333%, #6b717f 91.66667%, #036 91.66667%, #036 100%); }

h1 {
  font-weight: 100;
  color: #808c99;
  line-height: 1.125em;
  letter-spacing: -0.03125em;
  margin: 0; }
  @media (min-width: 30em) {
    h1 {
      font-size: 2em; } }
  @media (min-width: 48em) {
    h1 {
      font-size: 3em; } }
  @media (min-width: 64em) {
    h1 {
      font-size: 4em; } }
  @media (min-width: 80em) {
    h1 {
      font-size: 6em; } }

.banner, .page-header {
  background-image: url("http://sass-lang.com/assets/img/textures/grey-prism-63478a91.svg"); }

.page-header {
  padding-bottom: 1.5em;
  -moz-transition-property: padding;
  -o-transition-property: padding;
  -webkit-transition-property: padding;
  transition-property: padding;
  border-color: #dadbdf; }

.banner {
  vertical-align: middle;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

li {
  list-style: none; }

.hero-lockup {
  display: table;
  width: 100%;
  height: 100%; }
  @media (min-width: 48em) {
    .hero-lockup .hero-image {
      display: table-cell;
      max-width: 100%;
      vertical-align: middle;
      padding-right: 2em;
      padding-bottom: 0; } }
  .hero-lockup .hero-image img {
    max-width: 100%;
    display: inline-block;
    height: auto;
    border: 0; }
  .hero-lockup .introduction {
    text-align: center;
    margin: 0 auto;
    max-width: 37.5em;
    color: #699;
    padding-bottom: 1.5em; }
    @media (min-width: 48em) {
      .hero-lockup .introduction {
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        text-align: left; } }

.banner-toggle {
  position: relative;
  top: 0;
  right: 16px;
  text-align: right; }
  @media (min-width: 48em) {
    .banner-toggle {
      display: none; } }
  .banner-toggle button {
    width: 48px;
    height: 48px;
    padding: 0;
    border-color: transparent;
    background: none;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    font-weight: 600; }
    .banner-toggle button .icon-bar {
      margin-top: .375em;
      margin-bottom: .375em;
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 2em;
      height: 0.125em;
      background-color: #c69; }

h3, h4 {
  padding-top: 2.25em;
  padding-bottom: .75em;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .03125em;
  color: #808c99;
  margin: 0; }

.body {
  padding-top: 2em; }

.content {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-right: -16px;
  margin-left: -16px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 2em; }

.section-bottom {
  padding-bottom: 1.5em; }

.list-tiled {
  margin: 0 auto !important;
  width: 100%;
  display: table;
  padding: 0;
  margin: 0 -16px; }
  .list-tiled a {
    text-decoration: none;
    color: #c69; }
    .list-tiled a:hover {
      color: #212c3f; }
  .list-tiled > li {
    text-align: left;
    box-sizing: border-box;
    vertical-align: top; }
    @media (min-width: 48em) {
      .list-tiled > li {
        display: table-cell;
        float: left;
        width: 33.33333%;
        padding-right: 16px;
        padding-left: 16px; } }
    .list-tiled > li p {
      padding-bottom: 1.5em;
      margin: 0; }
  .list-tiled > li:nth-child(3n+4) {
    clear: both; }

footer.contentinfo {
  padding-top: 0;
  padding-bottom: 0;
  color: #808c99;
  background-image: url("http://sass-lang.com/assets/img/textures/grey-prism-63478a91.svg"); }
  @media (max-width: 47.99em) {
    footer.contentinfo {
      padding-top: 1.5em;
      padding-bottom: 4.5em; } }
  footer.contentinfo nav.container {
    height: 6em;
    text-align: left;
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
    footer.contentinfo nav.container ul {
      font-size: .75em;
      display: table;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      line-height: 1.5em; }
    footer.contentinfo nav.container a {
      color: #484c55;
      text-decoration: none; }
      footer.contentinfo nav.container a:hover {
        color: #212c3f; }
    footer.contentinfo nav.container p {
      padding-bottom: .375em;
      margin: 0; }
    footer.contentinfo nav.container .contentinfo-tools {
      padding-top: 2em; }
      @media (min-width: 48em) {
        footer.contentinfo nav.container .contentinfo-tools {
          padding: 0;
          width: 1px;
          white-space: nowrap; } }
      @media (max-width: 47.99em) {
        footer.contentinfo nav.container .contentinfo-tools ul
        li {
          display: inline-block;
          margin-left: -2px;
          margin-right: 2em; }
          footer.contentinfo nav.container .contentinfo-tools ul
          li a {
            font-size: 1.25em; } }
      @media (min-width: 48em) {
        footer.contentinfo nav.container .contentinfo-tools ul
        li {
          margin: 0;
          padding-right: 2em; }
          footer.contentinfo nav.container .contentinfo-tools ul
          li a {
            font-size: 1.25em; } }
    @media (min-width: 48em) {
      footer.contentinfo nav.container li {
        vertical-align: middle;
        display: table-cell; } }
    footer.contentinfo nav.container li:first-child {
      margin-left: 0; }
    footer.contentinfo nav.container .contentinfo-social {
      display: table-cell;
      white-space: nowrap;
      width: 1px;
      padding-left: 4em;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      line-height: 0; }
      @media (max-width: 47.99em) {
        footer.contentinfo nav.container .contentinfo-social {
          display: inline-block;
          padding-top: 2em;
          padding-bottom: 4.5em;
          padding-left: 0px;
          margin: 0; } }

/*# sourceMappingURL=sass_lang_styles.css.map */
