.field {clear:both; text-align:right; line-height:25px; }
label {float:left; margin-right: 5px; }
.main {float: left;
margin-left: 30%;}
h1{text-align: center; }
p.success {color: green; text-align: center;}