.field {clear:both; text-align:right; line-height:25px; margin-top: 20px;}
label {float:left; margin-right: 5px; }
.main {float: left;
margin-left: 30%;}
h1{text-align: center; font-size: 22px;}
p.info {color: blue; text-align: center;}
p.danger {color: red; text-align: center;}
p.success {color: green; text-align: center;}
